<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="bg-light">
<div layout:fragment="content">
<div class="container mt-5">
    <h1 class="mb-4">URL Shortener</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <button onclick="login()" class="btn btn-primary">Login</button>
            </div>
            <div id="shortUrlContainer" class="mb-3" style="display: none;">
                <label for="longUrl" class="form-label">Long URL:</label>
                <input type="text" class="form-control" id="longUrl" name="longUrl">
                <button onclick="shortenUrl()" class="btn btn-primary mt-2">Shorten URL</button>
            </div>
            <div id="shortUrlResult" class="mb-3" style="display: none;">
                <label for="shortUrl" class="form-label">Short URL:</label>
                <input type="text" class="form-control" id="shortUrl" readonly>
                <button onclick="copyShortUrl()" class="btn btn-primary mt-2">Copy</button>
            </div>
<!--            <div id="shortUrlRedirect" class="mb-3" style="display: none;">-->
<!--                <label for="shortUrlRedir" class="form-label">Short URL:</label>-->
<!--                <input type="text" class="form-control" id="shortUrlRedir" name="shortUrlRedir">-->
<!--                <button onclick="redirectToLongUrl()" class="btn btn-primary mt-2">Go</button>-->
<!--            </div>-->
        </div>
        <div class="col-md-6">
            <div id="userStatisticsContainer" class="mb-3" style="display: none;">
                <div id="userStatistics"></div>
                <div id="activeStatistics"></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

<script>
    let token = null;

    async function login() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        try {
            const response = await axios.post('/api/auth/login', { username, password });
            token = response.data.token;
            localStorage.setItem('token', token);
            document.getElementById('userStatisticsContainer').style.display = 'block';
            document.getElementById('shortUrlContainer').style.display = 'block';
            document.getElementById('shortUrlRedirect').style.display = 'block';
            getUserStatistics();
            getActiveUserStatistics();
        } catch (error) {
            console.error('Error logging in:', error.message);
        }
    }

    async function shortenUrl() {
        const longUrl = document.getElementById('longUrl').value;
        const token = localStorage.getItem('token');

        const data = {
            id: 0,
            userId: 0,
            originalUrl: longUrl,
            shortUrl: "",
            creationDate: "",
            expiryDate: "",
            status: true,
            clicks: 0,
            user: 0
        };

        try {
            const response = await axios.post('/api/shortLinks', data, {
                headers: { Authorization: `Bearer ${token}` }
            });
            const shortUrl = response.data.short_url;
            document.getElementById('shortUrl').value = shortUrl;
            document.getElementById('shortUrlResult').style.display = 'block';
        } catch (error) {
            console.error('Error shortening URL:', error.message);
        }
    }

    function copyShortUrl() {
        const shortUrlInput = document.getElementById('shortUrl');
        shortUrlInput.select();
        shortUrlInput.setSelectionRange(0, 99999); /* For mobile devices */
        document.execCommand('copy');
        alert('Copied the short URL: ' + shortUrlInput.value);
    }

<!--    async function redirectToLongUrl() {-->
<!--        const shortUrl = document.getElementById('shortUrlRedir').value;-->

<!--        try {-->
<!--            const response = await axios.post('/api/shortLinks/resolve', { shortUrl: shortUrl });-->
<!--            const longUrl = response.data.originalUrl;-->
<!--            document.getElementById('longUrl').value = longUrl;-->
<!--            window.open(longUrl, '_blank');-->
<!--            getUserStatistics();-->
<!--            getActiveUserStatistics();-->
<!--        } catch (error) {-->
<!--            console.error('Error redirecting to long URL:', error.message);-->
<!--            alert('Short URL not found');-->
<!--        }-->
<!--    }-->
    async function getUserStatistics() {
        try {
            const response = await axios.get('/api/shortLinks/all', {
                headers: { Authorization: `Bearer ${token}` }
            });
            const userStatistics = response.data;
            displayUserStatistics(userStatistics);
        } catch (error) {
            console.error('Error getting user statistics:', error.message);
        }
    }

    async function getActiveUserStatistics() {
        try {
            const response = await axios.get('/api/shortLinks/active', {
                headers: { Authorization: `Bearer ${token}` }
            });
            const userStatistics = response.data;
            displayActiveStatistics(userStatistics);
        } catch (error) {
            console.error('Error getting user statistics:', error.message);
        }
    }

    function displayUserStatistics(userStatistics) {
        const userStatisticsDiv = document.getElementById('userStatistics');
        userStatisticsDiv.innerHTML = '';

        const userName = document.getElementById('username').value;
        const userDiv = document.createElement('div');
        userDiv.innerHTML = `
            <h3>Statistics for: ${userName}</h3>
            <ul>
                ${userStatistics.map(shortLink => `<li>${shortLink.shortUrl}: ${shortLink.clicks} clicks</li>`).join('')}
            </ul>
        `;
        userStatisticsDiv.appendChild(userDiv);
    }

    function displayActiveStatistics(userStatistics) {
        const activeStatisticsDiv = document.getElementById('activeStatistics');
        activeStatisticsDiv.innerHTML = '';

        const userName = document.getElementById('username').value;
        const userDiv = document.createElement('div');
        userDiv.innerHTML = `
            <h3>Active links for: ${userName}</h3>
            <ul>
                ${userStatistics.map(shortLink => `<li>${shortLink.shortUrl}: ${shortLink.clicks} clicks</li>`).join('')}
            </ul>
        `;
        activeStatisticsDiv.appendChild(userDiv);
    }</script>

</script>
</body>
</html>
