<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JSON в HTML</title>
</head>
<body th:inline="javascript">

<div id="responseContainer">
    <p id="error"></p>
    <p id="originalUrl"></p>
</div>

<script th:inline="javascript">
    fetch('/api/sl/**')
        .then(response => response.json())
        .then(data => {
            if (data.error === 'OK') {
                window.location.href = [[${data.originalUrl}]];
            } else if (data.error === 'LINK_NOT_ACTIVE') {
                document.getElementById("error").innerText = "Error: Link not active";
            } else if (data.error === 'LINK_NOT_FOUND') {
                document.getElementById("error").innerText = "Error: Link not found";
            } else {
                document.getElementById("error").innerText = "Unknown error";
            }
        })
        .catch(error => console.error('Error fetching JSON:', error));
</script>

</body>
</html>